#table-container table {
    width: 100%;
    margin-top: 50px;
}
#noticedetail-pagination-container{
    height: 30px;
    overflow:hidden;
}

#noticedetail-pagination-container ul{
    margin:0;
    padding:0;
    height:30px;
}
#noticedetail-pagination-container ul li{
    margin:0;
    padding:0;
    display:inline-block;
    width: 30px;
    height: 30px;
    text-align:center;
    line-height:30px;
    background:#fff;
    color:#333;
}
#noticedetail-pagination-container ul li:active{
    background: blueviolet;
    color:#fff;
}