##查看异议裁定浮层:
<div class="fn-margin-center fn-W380 fn-BGC-FFF fn-color-666 fn-clear">
	<div class="fn-PT20 fn-PL20 fn-PR20 ">
		<div class="global-tab fn-BBS-ebebeb"><i></i>异议裁定</div>
			##数据显示
		<div class="fn-MT10">   
			<table class="fn-table fn-table-text fn-MT20 fn-MB20 width="100%" ">
				<tbody>
					<tr>
						<td width="75" align="right">支付令：</td>
						<td><a href="#" target="_blank" class="global-link">申请人xxx与被申请人xxx支付令申请</td>
					</tr>
					<tr>
						<td width="75" align="right">法院：</td>
						<td>杭州市西湖区人民法院</td>
					</tr>
				</tbody>
			</table>
	 	</div>
	</div>
</div>