{{#each this}}
    <tr>
        <td>
            {{rightIndex @index}}
        </td>
        <td>
            {{mobile}}
        </td>
        <td>
            {{name}}
        </td>
        <td>
            <a href="javascript:;" data-role="delete" class="fn-btn-link" data-param='{"suitEntityId": "{{securityId}}"}'>删除</a>
        </td>   
    </tr>
{{/each}}