<div id="dataTemplate">
    <div>
        <span>结算日：</span><span>罚息利率：</span>
    </div>
    <div class="fn-MT10" style="overflow:auto;width:735px;">
        <table class="fn-table fn-table-data fn-table-data-sm" width="1400">
            <thead>
                <tr>
                    <th width="100">账单月</th>
                    <th width="100">账单日</th>
                    <th width="100">还款日</th>
                    <th width="100">逾期日</th>
                    <th width="150">本月应还+费用</th>
                    <th width="100">本月已还</th>
                    <th width="150">本月账单分期</th>
                    <th width="100">本月减免</th>
                    <th width="100">应还罚息</th>
                    <th width="100">本月应还</th>
                    <th>累计应还</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>这是月</td>
                    <td>这是日期</td>
                    <td>这是日期</td>
                    <td>这是日期</td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">5555</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">6666</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">7777</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">88888</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">9999</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">10000</a></td>
                    <td><a href="/suit/start/paymentOrder/billDataDetail.htm" target="_blank" class="fn-color-047dc6">121212</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>